.container
	#auction
		%h2 Auction stats
		- @items.each do |i|
			%h3 #{i['number']}. #{i['name']}
			- i['bids'].sort.reverse.each do |b|
				.bid yo
		
	#raffle
		%h2 Raffle stats
		%div data here
		