body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	background-color: #000;
	color: #fff;
}

h1, h2, h3 {
	margin: 10px 0;
	padding: 0;
	font-family: "trebuchet ms", helvetica, sans-serif;
}
h2 { color: #ccc; }
h3 { color: #eee; }

strong { color: #c00; }

.container {
	
}

#auction, #raffle {
	border: 1px solid #666;
	padding: 16px;
	margin: 20px;
	background-color: #999;
	color: #000;
}

.bid {
	font-size: 13px;
	padding: 4px 0 4px 20px;
}
