body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
}

h1, h2, h3 {
	margin: 10px 0;
	padding: 0;
	font-family: "trebuchet ms", helvetica, sans-serif;
}
h2 { color: #556; }
h3 { color: #06c; }

.container {
	
}

#auction, #raffle {
	border: 1px solid #ccc;
	padding: 16px;
	margin: 20px;
}

.bid {
	font-size: 13px;
	padding: 4px 0 4px 20px;
}
